body{
background-image: url("../assets/WhatsApp\ Image\ 2023-06-07\ at\ 21.19.03.jpeg");

opacity: 1;
height: 100%


;}  


.container {
  opacity: 0.9;
 background: transparent;
  display: flex;
  gap: 16px;
}

.card {
 
  flex: 1;
  background-color: #f0f0f0;
  padding: 10px;
  margin: 10px;
  border-radius: 5px;
}

.task {
  opacity: 2;
  background-color: #ffffff;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 5px;
}

.task-header {
  display: flex;
  align-items: center;
}

.task-image {
  width: 24px;
  height: 24px;
  margin-right: 10px;
}

h2 {
  margin-top: 0;
}

button {
  margin-top: 5px;
  display: flex;
  align-items: center;
  padding: 5px 10px;
  background-color: #4caf50;
  color: #ffffff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.add-task-button {
  margin-top: 10px;
  background-color: #4caf50;
  color: #ffffff;
  border: none;
  border-radius: 5px;
  padding: 10px;
  cursor: pointer;
}

.add-task-button:hover {
  background-color: #45a049;
}

button svg {
  margin-right: 5px;
}